.react-datepicker {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  color: #545E73;

  background-color: #ECF0F1;
  border: 4px solid #545E73;
  border-radius: 25px;

  margin-bottom: 15px;
}

.react-datepicker__input-container .search {
  width: 155px;
  background-repeat: no-repeat;
  background-image: url("../media/icons/stopwatch-time.svg");
  background-position: 10px center;
  background-size: 30px;
  padding-left: 50px;
}

.react-datepicker__input-container .search[disabled] {
  cursor: not-allowed;
  -webkit-appearance: initial;
}

.react-datepicker__input-container .search:focus {
  background-image: url("../media/icons/stopwatch-time-hover.svg");
}

.react-datepicker-popper[data-placement^="top"]
.react-datepicker__triangle {
  border-top-color: #545E73;
  margin-bottom: -12px;
}

.react-datepicker-popper[data-placement^="top"]
.react-datepicker__triangle::before {
  border-top: 0;
}

.react-datepicker-popper[data-placement^="bottom"] {
  margin-top: -3px;
}

.react-datepicker-popper[data-placement^="bottom"]
.react-datepicker__triangle {
  margin-top: -11px;
  border-bottom-color: #545E73;
}

.react-datepicker-popper[data-placement^="bottom"]
.react-datepicker__triangle::before {
  border-bottom: 0;
}

.react-datepicker__navigation--previous,
.react-datepicker__navigation--previous:hover,
.react-datepicker__navigation--next,
.react-datepicker__navigation--next:hover {
  border: none;
}

.react-datepicker__navigation--previous,
.react-datepicker__navigation--next {
  width: 22px;
  height: 31px;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
}

.react-datepicker__navigation--previous {
  background-image: url("../media/icons/backward.svg");
}

.react-datepicker__navigation--previous:hover {
  background-image: url("../media/icons/backward-hover.svg");
}

.react-datepicker__navigation--next {
  background-image: url("../media/icons/forward.svg");
}

.react-datepicker__navigation--next--with-time:not(.react-datepicker__navigation--next--with-today-button) {
  right: 10px;
}

.react-datepicker__navigation--next:hover {
  background-image: url("../media/icons/forward-hover.svg");
}

.react-datepicker__header {
  background-color: #545E73;
  border-bottom: none;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding-top: 10px;
  margin: 0 -1px;
}

.react-datepicker__current-month
  /*.react-datepicker__navigation--previous,*/
  /*.react-datepicker__navigation--next*/
{
  display: none;
}

.react-datepicker__header__dropdown,
.react-datepicker__header__dropdown--select {
  margin: 0 25px 10px;
}

.react-datepicker__year-dropdown-container--select,
.react-datepicker__month-dropdown-container--select,
.react-datepicker__month-year-dropdown-container--select,
.react-datepicker__year-dropdown-container--scroll,
.react-datepicker__month-dropdown-container--scroll,
.react-datepicker__month-year-dropdown-container--scroll {
  margin: 0 2px;
}

.react-datepicker__month-container {
  width: 100%;
}

.react-datepicker__month-select,
.react-datepicker__year-select {
  font-size: 0.8em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #545E73;
  text-transform: uppercase;
  padding: 5px;
  background-color: #ECF0F1;
  border-radius: 10px;
  border-color: #545E73;
}

.react-datepicker__month-select option,
.react-datepicker__year-select option {
  font-size: 0.95em;
}

/*.react-datepicker__current-month,*/
.react-datepicker-time__header {
  font-size: 0.85em;
  font-weight: 700;
  color: #ECF0F1;
  text-transform: uppercase;
  /*margin-bottom: 10px;*/
}

.react-datepicker__day-names {
  background-color: #545E73;
}

.react-datepicker__day-name,
.react-datepicker__time-name {
  font-size: 0.75em;
  font-weight: 700;
  color: #ECF0F1;
  text-transform: uppercase;
}

.react-datepicker__day {
  color: #545E73;
}

.react-datepicker__day--disabled {
  color: #545E73;
  opacity: 0.5;
  cursor: not-allowed;
}

.react-datepicker__day:hover {
  color: #FDFFFC;
  background-color: #293447;
  border-radius: 4px;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--keyboard-selected,
.react-datepicker__day--in-range {
  color: #ECF0F1;
  border-radius: 4px;
  background-color: #545E73;
}

.react-datepicker__day--in-selecting-range:not(.react-datepicker__day--in-range) {
  background-color: #808AA1;
}

.react-datepicker__day--outside-month {
  opacity: 0.75;
}

.react-datepicker__time-container {
  width: 100%;
  float: left;
  border: none;
}

.react-datepicker__time-container
.react-datepicker__header {
  border-radius: 0;
}

.react-datepicker__header--time {
  padding: 14px 0;
}

.react-datepicker__time-container
.react-datepicker__time {
  background-color: #ECF0F1;
  border-radius: 25px;
  overflow: hidden;
}

.react-datepicker__time-container .react-datepicker__time
.react-datepicker__time-box {
  width: 108%;
  margin: 0;
  padding: 10px 0;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box
ul.react-datepicker__time-list {
  height: 100px !important;
  padding: 0;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list
li.react-datepicker__time-list-item {
  width: 30%;
  color: #545E73;
  border-radius: 25px;
  margin: 0 auto;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list
li.react-datepicker__time-list-item:hover {
  color: #FDFFFC;
  background-color: #293447;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list
li.react-datepicker__time-list-item--selected {
  color: #FDFFFC;
  background-color: #545E73;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list
li.react-datepicker__time-list-item--selected:hover {
  color: #FDFFFC;
  background-color: #293447;
}