/*PRIMARY*/
/*basic*/
/*#545E73*/

/*hover*/
/*#293447*/

/*selection*/
/*#808AA1*/

/*SECONDARY*/
/*basic*/
/*#ECF0F1*/

/*light*/
/*#FDFFFC*/

/*TEXT*/
/*dark text*/
/*#161925*/

/*light text*/
/*#FDFFFC*/

body {
  width: 100%;
  background-color: #ECF0F1;
  margin: 0;
}

* {
  box-sizing: border-box;
}

::selection {
  color: #FDFFFC;
  background-color: #808AA1;
}

:focus {
  outline-offset: 1px;
  outline: #808AA1 dotted 1px;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  color: #161925;
  margin-top: 0;
}

.bold {
  font-weight: 700;
}

.link {
  text-decoration: underline;
}

.text-center {
  text-align: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.center {
  justify-content: center;
  align-items: center;
}

.display-row {
  display: flex;
  flex-direction: row;
}

.space-between {
  justify-content: space-between;
  align-items: center;
}

/*region Arrows*/
.go-left,
.go-right {
  width: 40px;
  height: 40px;
  background-size: 40px;
  background-repeat: no-repeat;
}

.go-left {
  background-image: url("../media/icons/left-arrow.svg");
}

.go-left:hover {
  background-image: url("../media/icons/left-arrow-hover.svg");
}

.go-right {
  background-image: url("../media/icons/right-arrow.svg");
}

.go-right:hover {
  background-image: url("../media/icons/right-arrow-hover.svg");
}

/*endregion*/

/*region Nav*/
.nav-menu {
  width: 55px;
  height: 55px;

  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 1000;

  line-height: 55px;
  background-color: #545E73;
  border-radius: 10px;
  cursor: pointer;
}

.nav-menu:hover {
  background-color: #293447;
}

.nav-menu span:first-child {
  width: 0;
  height: 0;

  position: absolute;
  top: 3px;
  right: 3px;
  opacity: 0;
  border-radius: 25px;
  overflow: hidden;
  transition: all 0.6s ease;
}

.nav-toggle {
  width: 55px;
  height: 55px;

  position: absolute;
  top: 0;
  right: 0;

  background-image: url("../media/icons/menu-secondary.svg");
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  border-radius: 0;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.nav-toggle.close {
  background-image: url("../media/icons/close.svg");
  background-size: 45px;
  opacity: 0;
  z-index: -1;
}

.nav-menu ul {
  height: 0;
  width: 0;

  position: absolute;
  top: 50px;
  right: 0;

  z-index: 20;
  overflow: hidden;

  margin: 0;
  padding: 0;

  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.nav-menu ul li {
  width: 100px;

  font-family: 'Nunito', sans-serif;
  font-size: 1em;
  font-weight: 600;
  color: #FDFFFC;
  text-transform: uppercase;
  list-style-type: none;

  margin: 0 -160px 0 10px;
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.nav-menu ul li:nth-child(1) {
  transition-delay: 0.05s;
}

.nav-menu ul li:nth-child(2) {
  transition-delay: 0.10s;
}

.open.nav-menu {
  border-radius: 25px;
}

.open.nav-menu ul {
  opacity: 1;
  height: 200px;
  width: 60vw;
  z-index: 1000;
}

.open.nav-menu ul li {
  margin-right: 160px;
  z-index: 1000;
  cursor: pointer;
}

.open.nav-menu ul li:hover {
  text-decoration: underline;
}

.open.nav-menu span:first-child {
  width: calc(100vw - 30px);
  height: calc(100vh - 30px);
  right: 0;
  top: 0;
  z-index: 1000;
  background-color: #293447;
  opacity: 1;
}

.open.nav-menu .nav-toggle {
  opacity: 0;
}

.open.nav-menu .nav-toggle.close {
  opacity: 1;
  z-index: 1000;
}

/*endregion*/

/*region Info*/
.error,
.success,
.warning,
.create,
.remove,
.delete {
  height: 40px;
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: 96% center;
  padding-right: 45px;
}

.error {
  background-image: url('../media/icons/stopwatch-error.svg');
}

.success {
  background-image: url('../media/icons/stopwatch-complete.svg');
}

.warning {
  background-image: url('../media/icons/stopwatch-warning.svg');
}

.create {
  background-image: url('../media/icons/stopwatch-create.svg');
}

.remove {
  background-image: url('../media/icons/stopwatch-remove.svg');
}

.error p,
.success p,
.warning p,
.create p,
.remove p {
  font-size: 0.7em;
  text-align: right;
  text-transform: uppercase;
}

.error p {
  color: #ED7161;
}

.success p {
  color: #26B999;
}

.warning p {
  color: #EFC41A;
}

.create p {
  color: #71C386;
}

.remove p {
  color: #F29C21;
}

/*endregion*/

/*region Checkbox*/
.checkbox-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  margin-bottom: 20px;
}

.checkbox-label {
  margin: 0;
}

.checkbox-label.placeholder {
  opacity: 0.75;
}

.checkbox {
  width: 25px;
  height: 25px;
  display: block;
  position: relative;
  user-select: none;
  margin-right: 10px;
}

.checkbox input[type=checkbox] {
  height: 25px;
  width: 25px;
  position: absolute;
  margin: 0;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ECF0F1;
  border: 4px solid #545E73;
  border-radius: 5px;
  background-size: 25px;
  background-position: center;
}

/*.checkbox:hover input ~ .checkmark {*/
/*border-color: #293447;*/
/*}*/

.checkbox input:checked ~ .checkmark {
  background-image: url("../media/icons/checked.svg");
}

/*.checkbox input:checked:hover ~ .checkmark {*/
/*background-image: url("../media/icons/checked-hover.svg");*/
/*}*/

.checkbox.message {
  width: 70px;
  height: 75px;
}

.checkbox.message input[type=checkbox] {
  width: 70px;
  height: 75px;
}

.checkbox.message input ~ .checkmark {
  width: 70px;
  height: 75px;
  background-color: #ECF0F1;
  border: none;
  border-radius: 0;
  background-image: url("../media/icons/envelope.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.checkbox.message input:checked ~ .checkmark {
  background-image: url("../media/icons/envelope-open.svg");
}

/*endregion*/

/*region Button*/
.button {
  width: 100%;
  max-width: 227px;
  height: 50px;

  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #545E73;
  text-transform: uppercase;

  background-color: #ECF0F1;
  border: 4px solid #545E73;
  border-radius: 25px;

  cursor: pointer;

  margin: 10px auto;
}

.button:disabled {
  opacity: 0.75;
  cursor: not-allowed;
}

.button:hover {
  color: #FDFFFC;
  background-color: #293447;
  border: 4px solid #293447;
}

.button.details,
.button.create,
.button.delete {
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: center;
}

/*endregion*/

/*region Input*/
.input,
input {
  max-width: 100%;
  height: 50px;

  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  color: #545E73;

  background-color: #ECF0F1;
  border: 4px solid #545E73;
  border-radius: 10px;
  padding: 1px 10px;

  margin: 10px auto;
}

.input.search {
  width: 100%;
  background-repeat: no-repeat;
  background-image: url("../media/icons/stopwatch-search.svg");
  background-position: 10px center;
  background-size: 30px;
  padding-left: 50px;
}

.input.search:focus {
  background-image: url("../media/icons/stopwatch-search-hover.svg");
}

.input:focus,
input:focus {
  color: #161925;
  background-color: #FDFFFC;
  border: 4px solid #161925;
}

/*endregion*/

/*region Textarea*/
.textarea {
  width: 100%;

  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  color: #161925;

  background-color: #ECF0F1;
  border: 4px solid #545E73;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 10px;

  resize: none;
}

.textarea:focus {
  background-color: #FDFFFC;
  border-color: #293447;
}

/*endregion*/

/*region Field*/
.field-border {
  position: relative;
  background-color: #ECF0F1;
  border: 4px solid #545E73;
  border-radius: 10px;
}

.field-border.with-title {
  margin: 23px 0 0 0;
}

.field {
  width: 100%;
  height: 100%;
  padding: 50px 30px 30px;
}

.field p {
  width: 100%;
}

.field-title {
  font-family: 'Nunito', sans-serif;
  font-size: 1em;
  color: #FDFFFC;
  position: absolute;
  top: -27px;
  left: 27px;

  background-color: #545E73;
  border: 4px solid #545E73;
  border-radius: 10px;

  padding: 10px;
  margin: 0;
}

.filters-wrapper {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*endregion*/

/*region Counter*/
.counter {
  width: 80%;
  height: 127px;

  border: 4px solid #545E73;
  border-radius: 25px;

  padding: 20px;
  margin: 10px;
}

.counter:hover {
  border-color: #293447;
  background-color: #FDFFFC;
}

.counter p {
  font-size: 0.85em;
  text-align: right;
}

.counter.message {
  background-image: url("../media/icons/stopwatch-message.svg");
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: calc(100% - 20px) 77px;
}

.counter.message:hover {
  background-image: url("../media/icons/stopwatch-message-hover.svg");
}

.counter-box {
  width: 100%;

  display: flex;
  flex-direction: column;
}

.counter-box .half {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.counter-box p {
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  color: #545E73;
  margin-bottom: 0.5em;
}

.counter-box .half.top > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.counter-box .half.bottom {
  width: calc(100% + 60px);
  border-top: 4px solid #545E73;
  border-bottom: 4px solid #545E73;

  margin: 10px -30px;
  padding: 30px;
}

.counter-box .half.bottom > div {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.counter-format {
  width: 100%;
  height: 35px;

  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  color: #ECF0F1;

  background-color: #545E73;
  background-image: url("../media/icons/down-arrow.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 97% center;
  border: 4px solid #545E73;
  border-radius: 25px;

  padding-left: 10px;

  -webkit-appearance: button;
  -webkit-user-select: none;
}

.counter-format:hover {
  color: #FDFFFC;
  background-color: #293447;
  background-image: url("../media/icons/down-arrow-hover.svg");
  border: 4px solid #293447;
}

/*endregion*/

/*region Modal*/
.modal-overlay {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1001;

  background-color: rgba(41, 52, 71, 0.85)
}

.modal {
  width: 80%;
  height: 300px;

  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #FDFFFC;
  border: 8px solid #293447;
  border-radius: 10px;
}

.modal p {
  margin: 0 20px;
}

.modal-close {
  width: 40px;
  height: 40px;

  position: absolute;
  top: -20px;
  right: -20px;

  background-image: url("../media/icons/close.svg");
  background-repeat: no-repeat;
  background-size: 40px;
  cursor: pointer;
}

.modal .button {
  max-width: 100px;
  background-color: #FDFFFC;
}

.modal .button:hover {
  color: #FDFFFC;
  background-color: #293447;
}

/*endregion*/

@media screen and (min-width: 768px) {
  .field-title {
    font-size: 1.25em;
  }

  .input.search {
    width: 88%;
  }

  .modal {
    width: 500px;
  }

  .modal .button {
    max-width: 150px;
  }

  .open.nav-menu ul {
    width: 225px;
  }

  .open.nav-menu span:first-child {
    height: 300px;
    width: 300px;
  }

  .self-align-end {
    align-self: flex-end;
  }

  .counter {
    width: 227px;
  }

  .counter-format {
    width: 125px;
  }
}

@media screen and (min-width: 1200px) {
  .nav-menu {
    top: 85px;
    right: 185px;
  }

  .filters-wrapper {
    flex-direction: row;
    justify-content: space-around;
  }

  .field-padding {
    padding: 50px;
  }

  .counter-box {
    width: 490px;
    height: 490px;

    background-image: url("../media/icons/clock-blue.svg");
    background-repeat: no-repeat;
    background-size: 100%;

    padding: 35px;
  }

  .counter-box p.bold {
    margin-top: 45px;
    margin-bottom: 1em;
  }

  .counter-box .half {
    height: 50%;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 30px;
  }

  .counter-box .half.top {
    width: calc(100% - 30px);
  }

  .counter-box .half.top > div {
    align-items: center;
    align-self: center;
    margin-top: 45px;
  }

  .counter-box .half.top p.bold {
    margin-right: 20px;
  }

  .counter-box .half.bottom {
    width: calc(100% - 30px);
    justify-content: space-between;
    margin: 0 30px;
    padding: 0;
    border: none;
  }

  .counter-box .half.bottom > div {
    width: 250px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .counter-box .half.bottom p {
    margin: 0;
  }

  .counter-box .half.bottom p.counter-time {
    width: 165px;
  }

  .counter-format {
    width: 170px;
    margin: 0 15px;
  }

  .width-80 {
    width: 80%;
  }
}